.DeviceListWrapper {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1300px;
    margin: 0 auto;
}
.SearchPanel{
    height: 50px;
    background-color: gray;
}